# OS / editors
.DS_Store
*.swp
.idea/
*.iml
.vscode/

# Rust
/host/target/
**/*.rs.bk

# Android / Gradle
android/.gradle/
android/**/build/
android/local.properties
android/.kotlin/
android/**/.cxx/
android/captures/

# Local traffic-police state (rules.toml in .traffic-police/ is meant to be committed by projects)
.traffic-police/local/
*.trafficpolice
